@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Libre+Baskerville&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Libre+Baskerville&family=Raleway:wght@100&display=swap');

@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
  }

@keyframes sway-1 {
  0% {
    transform: translateX(3px) translateY(0);
  }
  50% {
    transform: translateX(6.1px) translateY(0); 
  }
  100% {
    transform: translateX(3px) translateY(0);
  }
}

.leaf-animation-1 {
  animation: sway-1 6s infinite linear;
}

body {
  background-image: url('./assets/images/background.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

.glow-on-hover {
  transition: all 1s ease;
}

.glow-on-hover:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  html, body {
    background-image: url('./assets/images/background.jpg') !important;
    background-size: 400% !important;
    background-repeat:repeat-y !important;
    background-position: top center !important;
  }
}