@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Leckerli+One&family=Libre+Baskerville&family=Lora&family=Raleway:wght@100&display=swap');
@layer base{
  html{
    font-family: 'Lora', serif;
  }
  }

@keyframes sway-1 {
  0% {
    transform: translateX(3px) translateY(0);
  }
  50% {
    transform: translateX(14px) translateY(0); 
  }
  100% {
    transform: translateX(3px) translateY(0);
  }
}

.leaf-animation-1 {
  animation: sway-1 7s infinite linear;
}

.leaf-animation-1:hover {
  animation: sway-1 3s infinite linear;
}

body {
  background-image: url('./assets/images/background.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

@media (max-width: 768px) {
  html, body {
    background-image: url('./assets/images/background.jpg') !important;
    background-size: 355% !important;
    background-position: top center !important;
  }
}